/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
	text-align: center;
	color: $color_5;
	padding: 25px 0;
	background: #45494f;
	.copyright {
		margin-bottom: 0.3rem;
	}
	.credits {
		margin-bottom: 0;
		a {
			color: $color_5;
		}
	}
}