<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="images/profil.png" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s" data-tr="myname">Name: </span> <span>Adrian Adiaconitei</span></p>
                                        <p><span class="title-s" data-tr="profile">Profile: </span> <span>full stack developer</span></p>
                                        <p><span class="title-s" data-tr="email">Email: </span> <span>contact@example.com</span></p>
                                        <p><span class="title-s" data-tr="phone">Phone: </span> <span>(617) 557-0089</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left" data-tr="aboutme">
                                        About me
                                    </h5>
                                </div>
                                <p class="lead" data-tr="info">
                                    I'm an enthusiastic full stack developer freelancer, passionate about creating engaging and functional web experiences. With solid industry experience and a constant thirst for knowledge, I am passionate about my projects to bring ideas to life and create innovative technological solutions
                                </p>
                                <p class="lead" data-tr="info">
                                    With a creative and results-oriented approach, I aim to turn clients' visions into reality, building high-performance web applications, interactive websites and customized solutions tailored to the specific needs of each project.
                                </p>
                                <p class="lead" data-tr="info">
                                    From conceptual design to hands-on implementation, I'm involved in every detail of the development process, ensuring that the end result exceeds expectations and delivers a memorable digital experience.
                                </p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="skill-mf">
                                <div class="title-box-2">
                                    <h5 class="title-left" data-tr="myskills">
                                        My Skills
                                    </h5>
                                </div>
                                <ul id="skills" class="skills-bar-container">

                                    <li>
                                        <div class="progressbar-title">
                                            <h3>HTML5</h3>
                                            <span class="percent" id="html-pourcent"></span>
                                        </div>
                                        <div id="html" class="bar-container" data-percent="75%">
                                            <span class="progressbar progressred"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>CSS / SASS</h3>
                                            <span class="percent" id="css-pourcent"></span>
                                        </div>
                                        <div id="css" class="bar-container" data-percent="95%">
                                            <span class="progressbar progressblue"></span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="progressbar-title">
                                            <h3>JavaScript / jQuery</h3>
                                            <span class="percent" id="javascript-pourcent"></span>
                                        </div>
                                        <div id="javascript" class="bar-container" data-percent="100%">
                                            <span class="progressbar progresspurple"></span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="progressbar-title">
                                            <h3>PHP</h3>
                                            <span class="percent" id="php-pourcent"></span>
                                        </div>
                                        <div id="php" class="bar-container" data-percent="90%">
                                            <span class="progressbar progressorange"></span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="progressbar-title">
                                            <h3>AngularJS</h3>
                                            <span class="percent" id="angular-pourcent"></span>
                                        </div>
                                        <div id="angular" class="bar-container" data-percent="60%">
                                            <span class="progressbar progressangular"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>React</h3>
                                            <span class="percent" id="react-pourcent"></span>
                                        </div>
                                        <div id="css" class="bar-container" data-percent="85%">
                                            <span class="progressbar progressreact"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="progressbar-title">
                                            <h3>Vue</h3>
                                            <span class="percent" id="vue-pourcent"></span>
                                        </div>
                                        <div id="css" class="bar-container" data-percent="65%">
                                            <span class="progressbar progressvue"></span>
                                        </div>
                                    </li>
                                </ul>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->