<!-- resume Section
   ================================================== -->
   <section id="resume" class="grey-section sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header" data-tr="workexperience">

                            <h2>Work Experience</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-person-workspace"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3 data-tr="uidesigner">UI Designer, </h3>
                                        <p data-tr="period">July 2015 - Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4 data-tr="awesomestudio">Awesome Studio</h4>
                                        <p data-tr="about">
                                            <ul>
                                                <li>User interface design</li>
                                                <li>Creating wireframes and mockups</li>
                                                <li>Optimizing the user experience</li>
                                                <li>Collaboration with the UX Designer</li>
                                                <li>Design testing and iteration</li>
                                                <li>Studying new trends and technologies</li>
                                            </ul>
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-briefcase-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3 data-tr="frontenddeveloper">Front-end Developer</h3>
                                        <p data-tr="period">July 2014 - June 2015</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4 data-tr="supercoolagency">Super Cool Agency</h4>
                                        <p  data-tr="about">
                                            <ul>
                                            <li>Web designs implementation</li>
                                            <li>User interface development</li>
                                            <li>Closely collaboration with the UI Designer, UX Designer and Backend Developer</li>
                                            <li>Creating and maintaining the user interface</li>
                                            <li>Code and resources optimizing to ensure fast page loading and a smooth user experience</li>
                                            <li>Site testing and troubleshooting to identify and resolve any bugs or compatibility issues</li>
                                            </ul>
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-bank"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3 data-tr="webdesigner">Web Designer</h3>
                                        <p data-tr="period">May 2013 - June 2014</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4 data-tr="greatdesignstudio">Great Designs Studio</h4>
                                        <p data-tr="period">
                                            <ul>
                                            <li>Creating web designs</li>
                                            <li>Development of visual concepts</li>
                                            <li>Adapting the design for different devices</li>
                                            <li>Collaboration with the development team</li>
                                            <li>Ensuring coherence and consistency of web design</li>
                                        </ul>
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->

                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header" data-tr="education">

                            <h2>Education</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3 data-tr="masterdegree">Master Degree</h3>
                                        <p data-tr="period">July 2015 - Present</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4 data-tr="UniversityOfLife">University of Life</h4>
                                        <p data-tr="about">The University of Life has a team of qualified teaching staff and a modern infrastructure, which facilitates the learning and research process.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3 data-tr="BachelorDegree">Bachelor Degree</h3>
                                        <p data-tr="period">July 2014 - June 2015</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4 data-tr="StateDesignUniversity">State Design University</h4>
                                        <p data-tr="about">
                                            State Design University is a prestigious institution renowned for its innovative approach to design education. 
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-backpack"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3 data-tr="BachelorDegree">Bachelor Degree</h3>
                                        <p data-tr="period">May 2013 - June 2014</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4 data-tr="DesignCollege">Design College</h4>
                                        <p data-tr="about">Design College offers a dynamic learning environment where creativity thrives. 
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->
                </div>
            </div>
        </div>
    </div>
</section> <!-- /features -->